## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()

In [7]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)


cutoff = 500

application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(
    lambda x: "Other" if app_type_counts[x] < cutoff else x
)


print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64
APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(app_type_counts)


cutoff = 500

application_types_to_replace = list(app_type_counts[app_type_counts < cutoff].index)
print("Application Types to Replace:", application_types_to_replace)


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64
Application Types to Replace: ['Other']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [9]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

cutoff = 1000

classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)
print("Classifications to Replace:", classifications_to_replace)


for classification in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "Other")


print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64
Classifications to Replace: ['C7000', 'C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200', 'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C1800', 'C6000', 'C1250', 'C8200', 'C1238', 'C1278', 'C1235', 'C1237', 'C7210', 'C2400', 'C1720', 'C4100', 'C1257', 'C1600', 'C1260', 'C2710', 'C0', 'C3200', 'C1234', 'C1246', 'C1267', 'C1256', 'C2190', 'C4200', 'C2600', 'C5200', 'C1370', 'C1248', 'C6100', 'C1820', 'C1900', 'C1236', 'C3700', 'C2570', 'C1580', 'C1245', 'C2500', 'C1570', 'C1283', 'C2380', 'C1732', 'C1728', 'C2170', 'C4120', 'C8210', 'C2561', 'C4500', 'C2150']
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts[classification_counts > 1])

cutoff = 1000

classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

for classification in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "Other")

print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

cutoff = 1000

classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

print("Classifications to Replace:", classifications_to_replace)

for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64
Classifications to Replace: []

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)

application_df.head()

print(application_df.columns)

print("Shape of the DataFrame:", application_df.shape)

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')
Shape of the DataFrame: (34299, 44)

In [14]:
y = application_df['IS_SUCCESSFUL']

X = application_df.drop(columns=['IS_SUCCESSFUL'])

print(f"Features shape: {X.shape}")
print(f"Target shape: {y.shape}")

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training Features shape: {X_train.shape}")
print(f"Testing Features shape: {X_test.shape}")
print(f"Training Target shape: {y_train.shape}")
print(f"Testing Target shape: {y_test.shape}")

Features shape: (34299, 43)
Target shape: (34299,)
Training Features shape: (27439, 43)
Testing Features shape: (6860, 43)
Training Target shape: (27439,)
Testing Target shape: (6860,)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

print(f"Scaled Training Features shape: {X_train_scaled.shape}")
print(f"Scaled Testing Features shape: {X_test_scaled.shape}")

Scaled Training Features shape: (27439, 43)
Scaled Testing Features shape: (6860, 43)

## Compile, Train and Evaluate the Model

In [18]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]
print(f"Number of input features: {input_features}")


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(Dense(units=80, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(Dense(units=30, activation='relu'))

# Output layer
nn.add(Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Number of input features: 43
Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

history = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
686/686 [==============================] - 6s 5ms/step - loss: 0.5790 - accuracy: 0.7129 - val_loss: 0.5528 - val_accuracy: 0.7345
Epoch 2/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5558 - accuracy: 0.7268 - val_loss: 0.5456 - val_accuracy: 0.7382
Epoch 3/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5536 - accuracy: 0.7271 - val_loss: 0.5490 - val_accuracy: 0.7387
Epoch 4/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5514 - accuracy: 0.7289 - val_loss: 0.5514 - val_accuracy: 0.7341
Epoch 5/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5497 - accuracy: 0.7283 - val_loss: 0.5468 - val_accuracy: 0.7394
Epoch 6/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5494 - accuracy: 0.7311 - val_loss: 0.5473 - val_accuracy: 0.7402
Epoch 7/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5481 - accuracy: 0.7316 - val_loss: 0.5483 - val_accuracy: 0.7329
Epoch 8/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5483 - accuracy: 0.7321 - val_loss: 0.5452 - val_accuracy: 0.7392
Epoch 9/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5476 - accuracy: 0.7327 - val_loss: 0.5445 - val_accuracy: 0.7383
Epoch 10/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7330 - val_loss: 0.5477 - val_accuracy: 0.7365
Epoch 11/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5468 - accuracy: 0.7330 - val_loss: 0.5478 - val_accuracy: 0.7398
Epoch 12/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7326 - val_loss: 0.5473 - val_accuracy: 0.7352
Epoch 13/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5457 - accuracy: 0.7340 - val_loss: 0.5446 - val_accuracy: 0.7398
Epoch 14/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5453 - accuracy: 0.7328 - val_loss: 0.5479 - val_accuracy: 0.7349
Epoch 15/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7342 - val_loss: 0.5457 - val_accuracy: 0.7356
Epoch 16/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7328 - val_loss: 0.5447 - val_accuracy: 0.7383
Epoch 17/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5439 - accuracy: 0.7351 - val_loss: 0.5415 - val_accuracy: 0.7407
Epoch 18/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5442 - accuracy: 0.7333 - val_loss: 0.5451 - val_accuracy: 0.7385
Epoch 19/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5439 - accuracy: 0.7344 - val_loss: 0.5451 - val_accuracy: 0.7385
Epoch 20/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5432 - accuracy: 0.7345 - val_loss: 0.5447 - val_accuracy: 0.7383
Epoch 21/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5431 - accuracy: 0.7348 - val_loss: 0.5427 - val_accuracy: 0.7402
Epoch 22/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5429 - accuracy: 0.7332 - val_loss: 0.5457 - val_accuracy: 0.7362
Epoch 23/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7348 - val_loss: 0.5467 - val_accuracy: 0.7405
Epoch 24/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5427 - accuracy: 0.7355 - val_loss: 0.5442 - val_accuracy: 0.7411
Epoch 25/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7342 - val_loss: 0.5453 - val_accuracy: 0.7411
Epoch 26/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5423 - accuracy: 0.7361 - val_loss: 0.5436 - val_accuracy: 0.7402
Epoch 27/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7357 - val_loss: 0.5448 - val_accuracy: 0.7389
Epoch 28/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5416 - accuracy: 0.7362 - val_loss: 0.5422 - val_accuracy: 0.7378
Epoch 29/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5412 - accuracy: 0.7360 - val_loss: 0.5442 - val_accuracy: 0.7391
Epoch 30/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5412 - accuracy: 0.7355 - val_loss: 0.5430 - val_accuracy: 0.7405
Epoch 31/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7349 - val_loss: 0.5454 - val_accuracy: 0.7394
Epoch 32/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7360 - val_loss: 0.5435 - val_accuracy: 0.7402
Epoch 33/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7363 - val_loss: 0.5447 - val_accuracy: 0.7383
Epoch 34/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5407 - accuracy: 0.7358 - val_loss: 0.5459 - val_accuracy: 0.7403
Epoch 35/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7343 - val_loss: 0.5434 - val_accuracy: 0.7387
Epoch 36/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7361 - val_loss: 0.5449 - val_accuracy: 0.7396
Epoch 37/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5399 - accuracy: 0.7373 - val_loss: 0.5478 - val_accuracy: 0.7403
Epoch 38/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7368 - val_loss: 0.5450 - val_accuracy: 0.7394
Epoch 39/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5393 - accuracy: 0.7376 - val_loss: 0.5442 - val_accuracy: 0.7402
Epoch 40/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5396 - accuracy: 0.7361 - val_loss: 0.5441 - val_accuracy: 0.7389
Epoch 41/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5390 - accuracy: 0.7359 - val_loss: 0.5454 - val_accuracy: 0.7398
Epoch 42/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5391 - accuracy: 0.7374 - val_loss: 0.5450 - val_accuracy: 0.7385
Epoch 43/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5390 - accuracy: 0.7368 - val_loss: 0.5444 - val_accuracy: 0.7409
Epoch 44/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5391 - accuracy: 0.7371 - val_loss: 0.5437 - val_accuracy: 0.7405
Epoch 45/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5384 - accuracy: 0.7368 - val_loss: 0.5451 - val_accuracy: 0.7398
Epoch 46/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5385 - accuracy: 0.7365 - val_loss: 0.5453 - val_accuracy: 0.7387
Epoch 47/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5384 - accuracy: 0.7370 - val_loss: 0.5476 - val_accuracy: 0.7389
Epoch 48/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7363 - val_loss: 0.5437 - val_accuracy: 0.7385
Epoch 49/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7365 - val_loss: 0.5480 - val_accuracy: 0.7380
Epoch 50/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5383 - accuracy: 0.7374 - val_loss: 0.5485 - val_accuracy: 0.7402

In [20]:
# Train the model
history = nn.fit(X_train_scaled, y_train, 
                 epochs=50, 
                 batch_size=32, 
                 validation_split=0.2)

Epoch 1/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7379 - val_loss: 0.5458 - val_accuracy: 0.7396
Epoch 2/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5375 - accuracy: 0.7377 - val_loss: 0.5503 - val_accuracy: 0.7374
Epoch 3/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7371 - val_loss: 0.5470 - val_accuracy: 0.7389
Epoch 4/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7381 - val_loss: 0.5476 - val_accuracy: 0.7385
Epoch 5/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5375 - accuracy: 0.7378 - val_loss: 0.5464 - val_accuracy: 0.7398
Epoch 6/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7373 - val_loss: 0.5450 - val_accuracy: 0.7389
Epoch 7/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5374 - accuracy: 0.7382 - val_loss: 0.5459 - val_accuracy: 0.7383
Epoch 8/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5376 - accuracy: 0.7376 - val_loss: 0.5456 - val_accuracy: 0.7392
Epoch 9/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7375 - val_loss: 0.5482 - val_accuracy: 0.7378
Epoch 10/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5370 - accuracy: 0.7376 - val_loss: 0.5499 - val_accuracy: 0.7391
Epoch 11/50
686/686 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7374 - val_loss: 0.5468 - val_accuracy: 0.7398
Epoch 12/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5372 - accuracy: 0.7381 - val_loss: 0.5461 - val_accuracy: 0.7403
Epoch 13/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5368 - accuracy: 0.7385 - val_loss: 0.5495 - val_accuracy: 0.7385
Epoch 14/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5370 - accuracy: 0.7374 - val_loss: 0.5504 - val_accuracy: 0.7396
Epoch 15/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5366 - accuracy: 0.7380 - val_loss: 0.5469 - val_accuracy: 0.7403
Epoch 16/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5365 - accuracy: 0.7383 - val_loss: 0.5499 - val_accuracy: 0.7387
Epoch 17/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7382 - val_loss: 0.5529 - val_accuracy: 0.7396
Epoch 18/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5365 - accuracy: 0.7377 - val_loss: 0.5472 - val_accuracy: 0.7387
Epoch 19/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5366 - accuracy: 0.7378 - val_loss: 0.5485 - val_accuracy: 0.7402
Epoch 20/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7386 - val_loss: 0.5474 - val_accuracy: 0.7392
Epoch 21/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5361 - accuracy: 0.7374 - val_loss: 0.5483 - val_accuracy: 0.7391
Epoch 22/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7381 - val_loss: 0.5475 - val_accuracy: 0.7391
Epoch 23/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5367 - accuracy: 0.7370 - val_loss: 0.5471 - val_accuracy: 0.7394
Epoch 24/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7382 - val_loss: 0.5483 - val_accuracy: 0.7402
Epoch 25/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5356 - accuracy: 0.7382 - val_loss: 0.5488 - val_accuracy: 0.7387
Epoch 26/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5358 - accuracy: 0.7378 - val_loss: 0.5514 - val_accuracy: 0.7385
Epoch 27/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7381 - val_loss: 0.5514 - val_accuracy: 0.7387
Epoch 28/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5360 - accuracy: 0.7373 - val_loss: 0.5500 - val_accuracy: 0.7382
Epoch 29/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5358 - accuracy: 0.7380 - val_loss: 0.5472 - val_accuracy: 0.7389
Epoch 30/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5356 - accuracy: 0.7379 - val_loss: 0.5480 - val_accuracy: 0.7400
Epoch 31/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5355 - accuracy: 0.7388 - val_loss: 0.5503 - val_accuracy: 0.7396
Epoch 32/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7388 - val_loss: 0.5506 - val_accuracy: 0.7392
Epoch 33/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5350 - accuracy: 0.7391 - val_loss: 0.5492 - val_accuracy: 0.7407
Epoch 34/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5352 - accuracy: 0.7386 - val_loss: 0.5507 - val_accuracy: 0.7374
Epoch 35/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7388 - val_loss: 0.5553 - val_accuracy: 0.7394
Epoch 36/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5351 - accuracy: 0.7387 - val_loss: 0.5508 - val_accuracy: 0.7405
Epoch 37/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5356 - accuracy: 0.7381 - val_loss: 0.5578 - val_accuracy: 0.7385
Epoch 38/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5356 - accuracy: 0.7385 - val_loss: 0.5514 - val_accuracy: 0.7383
Epoch 39/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5353 - accuracy: 0.7382 - val_loss: 0.5531 - val_accuracy: 0.7391
Epoch 40/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5350 - accuracy: 0.7384 - val_loss: 0.5518 - val_accuracy: 0.7396
Epoch 41/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5347 - accuracy: 0.7381 - val_loss: 0.5530 - val_accuracy: 0.7389
Epoch 42/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5348 - accuracy: 0.7386 - val_loss: 0.5568 - val_accuracy: 0.7372
Epoch 43/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5362 - accuracy: 0.7392 - val_loss: 0.5494 - val_accuracy: 0.7400
Epoch 44/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7391 - val_loss: 0.5518 - val_accuracy: 0.7396
Epoch 45/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5342 - accuracy: 0.7387 - val_loss: 0.5517 - val_accuracy: 0.7392
Epoch 46/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5347 - accuracy: 0.7391 - val_loss: 0.5535 - val_accuracy: 0.7392
Epoch 47/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5344 - accuracy: 0.7391 - val_loss: 0.5528 - val_accuracy: 0.7389
Epoch 48/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5345 - accuracy: 0.7382 - val_loss: 0.5519 - val_accuracy: 0.7396
Epoch 49/50
686/686 [==============================] - 2s 4ms/step - loss: 0.5347 - accuracy: 0.7372 - val_loss: 0.5536 - val_accuracy: 0.7387
Epoch 50/50
686/686 [==============================] - 3s 4ms/step - loss: 0.5345 - accuracy: 0.7386 - val_loss: 0.5548 - val_accuracy: 0.7383

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - loss: 0.5722 - accuracy: 0.7265 - 970ms/epoch - 5ms/step
Loss: 0.5722051858901978, Accuracy: 0.7265306115150452

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

print("Model has been saved to AlphabetSoupCharity.h5")

Model has been saved to AlphabetSoupCharity.h5